.centerTitle{
	margin-left: 500px;
}

body{
	background-image:url("background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

button{
	 margin-left: 230px;
    margin-top: 1px;
    width: 84px;
    height: 45px;
    background: transparent;
    border: none;
    color: black;
    font-size:20px;
    font-weight:700;
}

h1{
	font-family:impact;
	color:white;
	font-size:50;
}

img{
	height:100;
	width:500;
}


h2{
	font-size:30;
}

#map {
   width: 40%;
   height: 400px;
   background-color: grey;
 }

 h3{
 	color:white;
 }

 p{
 	color:white;
 }

 table{
	font-size:30;
	color:white;
  font-family:bookman old style;
}

table td{
	font-size:20
}
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    /*float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    /*margin-right:-4px;*/
}
.col-fixed {
    /* custom width */
    width:1200px;
    margin: 400px
}
.col-min {
    /* custom min width */
    min-width:400px;
}
.col-max {
    /* custom max width */
    max-width:400px;
}
