body{
	background-image:url("background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

button{
	 margin-left: 230px;
    margin-top: 1px;
    width: 84px;
    height: 45px;
    background: transparent;
    border: none;
    color: black;
    font-size:20px;
    font-weight:700;
}

h1{
	font-family:impact;
	color:white;
	font-size:50;
}

img{
	height:100;
	width:500;
}

.container{
	padding-left: 20%;
}

strong {
	font-size: 26;
	color: white;
}
